/* =================================
------------------------------------
  Riddle - Portfolio
  Version: 1.0
 ------------------------------------ 
 ====================================*/

/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #001418;
  margin: 0;
  font-weight: 600;
  font-family: 'Google Sans', sans-serif;
}

p {
  font-size: 18px;
  color: #979797;
  line-height: 1.8;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:focus {
  text-decoration: none;
  outline: none;
}


ul,
ol {
  padding: 0;
  margin: 0;
}






/*------------------------
  Intro slogan
--------------------------*/
.intro-slogan {
    padding-top: 30px;
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 29px;
    font-weight: 300;
    height: 70px;
    line-height: 36px;
}


blockquote {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 100px;
    padding-left: 1.5rem;
      display: block;
      position: relative;

}

blockquote::before {
      position: absolute;
    box-sizing: inherit;

}



/*------------------------
  Nav Profile dropdown menu
--------------------------
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;*/

/*------------------------
  Helper css
--------------------------*/
.body-pad {
  padding: 0 40px;
}

.spad {
  padding: 100px 0;
}

.pt100 {
  padding-top: 100px;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: 'Product Sans', sans-serif;
    color: #3c4043;
    font-size: 64px;
    line-height: 76px;
    font-weight: 400;
    letter-spacing: -0.6px;
}

.section-title-2 {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 40px;
    font-family: 'Product Sans', sans-serif;
    color: #3c4043;
    font-size: 64px;
    line-height: 76px;
    font-weight: 400;
    letter-spacing: -0.6px;
}


.heading {
    display: block;
    margin: 0px auto 40px;
    font-family: 'Product Sans', sans-serif;
    color: #979797;
    font-weight: 400;
}


.section-title span {
  color: #979797;
}




/*------------------------
  Common Elements
--------------------------*/
.element {
  margin-bottom: 100px;
}

.element:last-child {
  margin-bottom: 0;
}

/*=== Preloder ===*/
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #fff;
}

.loader {
  width: 30px;
  height: 30px;
  border: 3px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  border-left-color: transparent;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/*=== Buttons ===*/
.site-btn {
  display: inline-block;
  font-size: 15px;
  min-width: 100px;
  text-align: center;
  padding: 10px 12px;
  position: relative;
text-decoration: none;
  color: #fff;
  border: none;
  background-color: #cccdce;
  margin-right: 15px;
  z-index: 1;
    border-radius: 100px;
    font-family: Roboto;
}

.site-btn2 {
  display: inline-block;
  font-size: 15px;
  min-width: 70px;
  text-align: center;
  padding: 10px 12px;
  position: relative;
text-decoration: none;
  color: #fff;
  border: none;
  background-color: #cccdce;
  margin-right: 15px;
  z-index: 1;
    border-radius: 100px;
    font-family: Roboto;
}





.site-btn.btn-fade {
  background-color: #979797;
}

.site-btn.btn-line {
  background: none;
  border: 2px solid #000;
  color: #000;
  padding: 13px 10px;
}

.site-btn.btn-line:hover {
  color: #000;

}

.site-btn.btn-line-fade {
  background: none;
  border: 2px solid #979797;
  color: #979797;
  padding: 13px 10px;
}

.site-btn.btn-line-fade:hover {
  color: #979797;

}

.site-btn:hover {
  color: #fff;
    background: #979797;
  text-decoration: none;

}

.site-btn2:hover {
  color: #fff;
    background: #979797;
  text-decoration: none;

}

/*===  Accordion  ===*/
.accordion-area .panel {
  margin-bottom: 30px;
}

.accordion-area .panel-header {
  background: #000;
  color: #fff;
  display: block;
  padding: 12px 50px;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  border: 2px solid #000;
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.accordion-area .panel-header.active {
  background: transparent;
  color: #000;
}

.accordion-area .panel-header.active .panel-link:after {
  content: "-";
  color: #000;
}

.accordion-area .panel-header.active .panel-link.collapsed:after {
  content: "+";
}

.accordion-area .panel-link {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.accordion-area .panel-body p {
  font-size: 14px;
  margin-bottom: 0;
  padding-top: 25px;
}

.accordion-area .panel-body {
  padding: 0 5px;
}

.accordion-area .panel-link:after {
  content: "+";
  position: absolute;
  left: 50%;
  font-size: 16px;
  font-weight: 700;
  top: 50%;
  color: #fff;
  line-height: 16px;
  margin-top: -8px;
  margin-left: -4px;
}

/*===  Tab  ===*/
.tab-element .nav-tabs {
  border-bottom: none;
  margin-bottom: 35px;
}

.tab-element .nav-tabs .nav-link {
  border: 2px solid #000;
  background: #000;
  border-radius: 0;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #222;
  padding: 15px 40px;
  min-width: 118px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}

.tab-element .nav-tabs .nav-item:last-child .nav-link {
  margin-right: 0;
}

.tab-element .nav-tabs .nav-link.active {
  background: transparent;
  color: #000;
}

.tab-element .tab-pane h4 {
  font-size: 18px;
  margin: 25px 0 20px;
}

.tab-element .tab-pane p {
  font-size: 14px;
}

.circle-progress {
  text-align: center;
  position: relative;
}

.circle-progress canvas {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.circle-progress .progress-info {
  position: absolute;
  width: 100%;
  top: 30%;
}

.circle-progress .progress-info h2 {
  font-size: 36px;
}

.circle-progress .progress-info p {
  color: #979797;
  font-size: 16px;
  line-height: normal;
}

/*===  Icon Box  ===*/
.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-box .icon h2 {
  font-size: 60px;
}

.icon-box .icon-box-content {
  padding-left: 25px;
  padding-top: 10px;
}

.icon-box .icon-box-content h3 {
  font-size: 24px;
  margin-bottom: 25px;
}

/*------------------------
    Header Section
--------------------------*/
.header-section {
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
}

.contact-menu {
    margin-top: 5px;
    margin-bottom: 5px;

}



.site-logo {
  font-size: 24px;
  margin: auto;
    padding-left: 18px;
  font-family: Roboto;
  font-size: 15px; 
  width: 10%; 
}


.site-logo:hover {
  color: #fff;
    background: #ff7f88;
  text-decoration: none;
}




.main-menu ul {
  list-style: none;
  text-transform: uppercase;
    font-size: 30px;
line-height: 1.6;
font-weight: 700;
font-family: 'Product Sans', sans-serif;
}

.main-menu ul li {
  display: inline;
    text-align: left; 
}

.main-menu ul li a {
  display: inline-block;
  font-size: 13px;
  color: #001418;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 0 20px;
    letter-spacing: 0.1rem;

}

.main-menu #writing {
     margin-left: 335px;
    margin-right: 10px;
}

.main-menu #contact {
     margin-left: 30px;
  margin-right: 5px; 
}

.header-btn {
  float: right;
  margin-right: 0;
}

.nav-switch {
  display: none;
}


.main-menu ul li a:active {
        color: #333333;
letter-spacing: 0.2rem;
border-bottom: 5px solid #333333;
    text-transform: uppercase;
}


/*------------------------
    Intro Section
--------------------------*/
.intro-section {
  padding: 60px 0;
}


.user-frame {
  width: 100%;
  padding: 3em;
    height: 250px;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.13);
            -webkit-transition: box-shadow .25s ease-in;
    border-radius: 8px;
      transition: 0.3s;


}

.user-frame:hover {
    opacity: 0.6;
    transition: .25s ease-in;

}


.user-frame img {
    max-width: 30%;
    display: block;
    margin-bottom: 20px;
}

.thumbnail {
    width: 100%;
    height: auto;
}

.thumbnail-title {
    line-height: 1.25;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    font-weight: 500;
    color: #333335;
    letter-spacing: 0.04rem;
    font-family: "Product Sans";
}


#title {
    font-family: "Product Sans", 'Roboto', sans-serif;
}


#bot-user-frame {
    font-family: "Product Sans", 'Roboto', sans-serif;
    color: darkgrey;
    font-size: 17px;
    font-weight: 500;
    text-transform: lowercase;
    letter-spacing: 0.2rem;
    border: none;
    white-space: nowrap;
    padding-bottom: 5px;
    border-radius: 0px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 5px solid #FFF;
}

@media screen and (max-width: 768px) {
  .user-frame {
    width: 100%;
    margin-bottom: 3em;
  }
}
.user-frame h3 {
  line-height: 34px;
}

.user-frame p {
  color: rgba(0, 0, 0, 0.6);
}
.user-frame span {
  font-weight: bold;
}
.user-frame small {
  color: #2A528A;
}

.js .animate-box {
  opacity: 0;
}


.work-content {
    padding: 100px;
        position: relative;    
}



.btn-tags {
    border-radius: 16px;
    border-color: #e4e4e4;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 700;
    height: 32px;
    margin-bottom: 5px;
    margin-right: 5px;
    line-height: 32px;
    padding: 0 12px;
    padding-top: 0px;
    padding-right: 18px;
    padding-bottom: 0px;
    padding-left: 18px;
    display: inline-block;
    font-family: "Roboto";
    font-size: 13px;
}


.btn-tags-intro {
    border-radius: 16px;
    border-color: #e4e4e4;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 700;
    height: 32px;
    margin-bottom: 5px;
    margin-right: 10px;
    line-height: 32px;
    padding-top: 0px;
    padding-right: 18px;
    padding-bottom: 0px;
    padding-left: 18px;
    display: inline-block;
    font-family: "Roboto";
    font-size: 13px;
}


.btn-intro {
padding-left: 100px;
}


/*------------------------
    Portfolio Section
--------------------------*/
.portfolio-section {
  overflow: hidden;
}

.portfolio-filter {
  list-style: none;
  padding-bottom: 100px;
}

.portfolio-filter li {
  font-size: 16px;
  display: inline-block;
  margin-right: 30px;
  padding-bottom: 10px;
  color: #979797;
  cursor: pointer;
}

.portfolio-filter li.mixitup-control-active {
  color: #001418;
}

.portfolios-area .gallery-block {
  padding: 0;
}

.gallery-block {
  position: relative;
}

.portfolio-item {
  display: block;
  width: 100%;
  height: 600px;
  background-position: center center;
  position: relative;
  margin-bottom: 30px;
}

.portfolio-item .pi-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.portfolio-item .pi-inner h2 {
  opacity: 0;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: #fff;
  letter-spacing: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.portfolio-item:hover .pi-inner {
  background: rgba(0, 20, 24, 0.8);
}

.portfolio-item:hover .pi-inner h2 {
  opacity: 1;
  letter-spacing: 0;
}

.portfolio-meta {
  padding-bottom: 45px;
}

.portfolio-meta h2 {
  font-size: 24px;
}

.portfolio-meta p {
  font-size: 14px;
  color: #a6a6a6;
  margin-bottom: 0;
}

.portfolio-intro {
  display: block;
}

.img-popup-warp .mfp-content {
  opacity: 0;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.img-popup-warp.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/*------------------------
    Footer Section
--------------------------*/
.footer-section {
  padding: 110px 0;
}

.footer-section .copyright {
  font-size: 12px;
  color: #979797;
}

.social-links {
  margin-top: 60px;
  margin-bottom: 40px;
}

.social-links a {
  color: #979797;
  font-size: 15px;
  margin-right: 30px;
}

.social-links a:last-child {
  margin-right: 0;
}

/*------------------------
    About Page
--------------------------*/


.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #111;
}

.right {
    right: 0;
    background-color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}



/*------------------------
    Blog Page
--------------------------*/
.blog-item {
  margin-bottom: 70px;
}

.blog-item .read-more {
  color: #000;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  line-height: 18px;
  font-size: 18px;
}

.blog-item .read-more:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #000;
}

.thumb {
  margin-bottom: 30px;
}

.blog-content h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.blog-content .blog-meta {
  font-size: 13px;
  color: #979797;
  margin-bottom: 30px;
}

.blog-content p {
  margin-bottom: 30px;
}

/*------------------------
    Contact Page
--------------------------*/

.contact {
  height: auto;
  background: #ffffff;

}


.contact a {
  color: #979797;
  text-decoration: none;
}

.contact a:hover {
    color:royalblue;
}

.contact .header {
    padding: 100px;
    display: block;
    font-family: "Product Sans", "Helvetica Neue", sans-serif;
    font-size: 71px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 85px;
    text-align: left;

}



/* ===========================
  Portfolio Work "Carousel"
==============================*/

.carousel_main .left {
  float: left !important;
}

.hr {
  box-sizing: content-box;
  height: 0;
}


.underline {
  border: 2px;
  border-bottom-style: solid;
  border-bottom-color: #546de5;
  width: 40px;
  margin-left: 107px;
  padding: 0;
}

.work-image {
    width: 80%;
}

.carousel_main, h4 {
  font-family: 'Roboto';
  font-size: 35px;
  text-align: left;
  padding: 40px 0px 0px 105px;
  line-height: 110%;
  display: block;
}

.carousel_main, img {
  margin-left: 107px;
}

.carousel_main .section {


}




/* ===========================
  Project details
==============================*/

.project {
  text-decoration: none;
  color: #008080;
  display: inline-block;
  overflow: hidden;
  /* border: 1px solid lightblue; */
  align: left;
  float: left;
  height: 350px;
  width: 570px;
  margin: 40px 0px;
  padding: 10px;
  background-color: #ffffff;
}

.project-details {
  transition: all 0.8s ease;
  flex-grow: 1;
}

.project-details:hover {
  box-shadow: 0 10px 20px #c7cad1;
  -webkit-transform: translate(10, -5px);
  transform: translate(10, -5px);
}





/* ===========================
  Responsive
==============================*/


@media only screen and (min-width: 993px)
.container {
    width: 70%;
}

@media only screen and (min-width: 601px)
.container {
    width: 85%;
}


.container {
    margin: 0 auto;
        margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 1280px;
    width: 90%;
}






/* @media only screen and (max-width: 1448px) {
  .home-2.container {
    width: auto;
  }
} */

/* Medium screen : 992px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .portfolio-item {
    height: 450px;
  }
}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .body-pad {
    padding: 0 30px;
  }
  .portfolio-item {
    height: 350px;
  }
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
  .body-pad {
    padding: 0 15px;
  }
  .main-menu {
    position: absolute;
    background: #efefef;
    width: 100%;
    z-index: 999;
    left: 0;
    top: 30px;
    padding-top: 15px;
    display: none;
  }
    
  .main-menu ul li a {
    padding: 10px 15px;
    border-bottom: 5px solid #000000;
    display: block;
  }
  .main-menu ul li {
    display: block;
  }
  .main-menu ul li:last-child a {
    border-bottom: none;
  }
    
    #active {
color: #333333;
letter-spacing: 0.2rem;
border-bottom: 5px solid #333333;
}
    
    
  .home-2 {
    text-align: left;
  }
  .home-2 .main-menu {
    top: 99px;
  }
  .nav-switch {
    position: absolute;
    right: 25px;
    font-size: 30px;
    color: #333;
    top: 35px;
    display: block;
  }
  .header-btn {
    display: none;
  }
  


/* small Mobile :320px. */
@media only screen and (max-width: 479px) {
  .section-title {
    font-size: 30px;
  }
}